* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(..//assets/img/fondo-tienda.png);
	background-color: #333333;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* ESTILOS DEL HEADER */

header {
	background-color: yellowgreen;
	padding: 15px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-size: 24px;
	margin: 0;
	color: black;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin-left: 10px;
}

.filtrados {
	margin-top: 10px;
}

.filtrado {
	display: inline-block;
	margin-right: 10px;
}

label {
	font-weight: bold;
	color: black;
}

select {
	padding: 5px;
	border-radius: 3px;
}

.btn-carro {
	text-decoration: none;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: blue;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-carro:hover {
	background-color: blueviolet;
}

.fa-cart-shopping {
	font-size: 18px;
}

.btn-volver {
	text-decoration: none;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: blue;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn-volver:hover {
	background-color: blueviolet;
}

/* ESTILOS DEL FOOTER */

footer {
	margin-top: auto;
	text-align: center;
	background-color: yellowgreen;
	color: black;
	padding: 10px;
}

/* ESTILOS DE LA TIENDA */

.store-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
	margin: 20px;
	width: 300px;
	display: flex;
	flex-direction: column;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
	background-color: #e6e6e6;
}

.card:hover {
	background-color: #e6e6e6;
	transition: background-color 0.3s ease-in-out;
}

.card img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.card .content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card h1 {
	font-size: 24px;
	margin-top: 0;
}

.card p {
	font-size: 16px;
	text-align: center;
}

.btn-compra {
	background-color: rgb(36, 194, 36);
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 20px;
	margin-top: 10%;
	margin-bottom: 20px;
	text-transform: uppercase;
}


.btn-compra:hover {
	background-color: blueviolet;
}


/* ESTILOS DEL CARRITO EN GENERAL */

main {
	padding: 20px;
	text-align: center;
}

h2 {
	color: wheat;
	font-size: 50px;
	margin-bottom: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th,
td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

th {
	background-color: #f5f5f5;
}

#tablabody {
	background-color: #f5f5f5;
}

#total {
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}

.btn-comprar {
	padding: 10px 20px;
	background-color: #c08c8c;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.btn-comprar:hover {
	background-color: blueviolet;
}

.compra-realizada {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color: green;
}

#btn-finalizar {
	background-color: blue;
	padding: 5px;
	font-size: 15px;
}

#btn-finalizar:hover {
	background-color: blueviolet;
}

#mensaje-agradecimiento {
	display: none;
	color: #ffffff;
	background-color: #28a745;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}


button {
	background-color: red;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(97, 5, 5);
}

select {
	font-weight: bold;
	font-size: 16px;
	color: #333;
	border-radius: 20px;
  }
  

/* ESTILOS RESPONSIVE DE 1024 a 320 */

@media (max-width: 1024px) {
	.card-container {
		justify-content: flex-start;
	}

	.card {
		width: calc(50% - 40px);
		margin: 20px 10px;
	}
}

@media (max-width: 1023px) {
	.card {
		width: calc(50% - 40px);
		margin: 20px 10px;
	}
}

@media (max-width: 767px) {
	.store-container {
		padding: 10px;
	}

	.card-container {
		justify-content: center;
	}

	.card {
		width: 100%;
		margin: 20px 0;
	}
}

@media (max-width: 320px) {
	.card {
		margin: 10px 0;
	}
}